<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="profile" />
    <meta name="description" content="ID: {{ id }}
Уровень: {{ rank.level }}
Вождь: {{ leader_id.name }}[{{leader_id.level}}]
Новость: {{ news }}">
    <meta property="og:url" content="https://squirrelsquery.yukkerike.ru/clan/162381">
    <meta property="og:title" content="Карточка клана: {{ info.name }}">
    <meta property="og:description" content="ID: {{ id }}
Уровень: {{ rank.level }}
Вождь: {{ leader_id.name }}[{{leader_id.level}}]
Новость: {{ news }}">
    <meta property="og:image" content="{{ info.photo }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="squirrelsquery.yukkerike.ru">
    <meta name="twitter:title" content="Карточка клана: {{ info.name }}">
    <meta name="twitter:description" content="ID: {{ id }}
Уровень: {{ rank.level }}
Вождь: {{ leader_id.name }}[{{leader_id.level}}]
Новость: {{ news }}">
    <meta name="twitter:image" content="{{ info.photo }}">
    {{> materialize}}
    <title>{{ info.name }}</title>
</head>

<body>
    {{> navbar}}
    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <td>Название</td>
                <td>{{ info.name }}</td>
            </tr>
            <tr>
                <td>Эмблема</td>
                <td><img src="{{ info.emblem }}" /><img src="{{ info.photo }}" /></td>
            </tr>
            <tr>
                <td>В бане</td>
                <td>{{ ban }}</td>
            </tr>
            <tr>
                <td>Вождь</td>
                <td><a href="/user/{{ leader_id.uid }}" target='_blank'>
                        <pre>{{ leader_id.name }}[{{leader_id.level}}]</pre>
                    </a></td>
            </tr>
            <tr>
                <td>Новость</td>
                <td>
                    <pre style="white-space: pre-wrap; overflow-wrap: anywhere; max-width: 380px">{{ news }}</pre>
                </td>
            </tr>
            <tr>
                <td>Уровень</td>
                <td>{{ rank.level }}</td>
            </tr>
            <tr>
                <td>Лимит уровня</td>
                <td>{{ level_limiter }}</td>
            </tr>
            <tr>
                <td>Опыт</td>
                <td>{{ rank.exp }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    Статистика за прошедшие сутки
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Игрок</td>
                                <td>Опыт игрока</td>
                                <td>Опыт клана</td>
                            </tr>
                            {{#each statistics}}
                            <tr>
                                <td>{{ inc @index}}</td>
                                <td>
                                    <a href="/user/{{ this.uid.uid }}" target='_blank'>
                                        <pre>{{ this.uid.name }}[{{ this.uid.level }}]</pre>
                                    </a>
                                </td>
                                <td>{{ this.samples }}</td>
                                <td>{{ this.exp }}</td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td></td>
                                <td>Всего</td>
                                <td>{{ rank.dailyPlayerExp }}</td>
                                <td>{{ rank.dailyTotalExp }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Члены клана ({{ count.members }})</td>
                <td>
                    <div>
                        {{#each members}}
                        <a href="/user/{{ this.uid }}" class="collection-item" target='_blank'>
                            <pre>{{ this.name }}[{{ this.level }}]</pre>
                        </a>
                        {{/each}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Чёрный список ({{ count.blacklist }})</td>
                <td>
                    <div>
                        {{#each blacklist}}
                        <a href="/user/{{ this.uid }}" class="collection-item" target='_blank'>
                            <pre>{{ this.name }}[{{ this.level }}]</pre>
                        </a>
                        {{/each}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>